html nav.openedSideBar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  white-space: nowrap;
  box-shadow: 1px 0 2px #111;
}
html nav.openedSideBar li .imgLogo {
  display: block;
  position: absolute;
  top: 30px;
  left: 8%;
  width: 210px;
  height: 170px;
  transition: 0.5s;
}
html nav.openedSideBar li a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 32px;
  color: var(--sidebar-txtcolor);
  display: block;
  transition: 0.5s;
}
html nav.openedSideBar li a.txt {
  transition: 0.5s;
}
html nav.openedSideBar li a span#txtSpanSb {
  font-size: 20px;
}
html nav.openedSideBar li a span.spanPusty {
  transition: 0.5s;
}
html nav.openedSideBar li a.txt:hover {
  color: var(--main-txtcolor);
  background-color: #444;
  text-shadow: 2px 2px 1px #000000;
}
html nav.openedSideBar li a.txt:hover span.spanPusty {
  margin-left: 10px;
}
html nav.openedSideBar li a.closeSbBtn {
  position: absolute;
  display: block;
  top: 0;
  right: 15px;
  font-size: 36px;
  /* margin-left: 50px; */
}
html nav.openedSideBar li a.closeSbBtn:hover {
  color: var(--main-txtcolor);
  text-shadow: 2px 2px 1px #000000;
}
html nav.openedSideBar > footer {
  position: absolute;
  display: block;
  color: var(--sidebar-txtcolor);
  bottom: 0;
  width: 100%;
  margin: 0 0 8px 32px;
  font-size: 20px;
}
html nav.openedSideBar .navList {
  margin-top: 120px;
}
html nav.closedSideBar {
  height: 100%;
  width: 64px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 0px;
  transition: 0.5s;
  white-space: nowrap;
  box-shadow: 1px 0 2px #111;
}
html nav.closedSideBar li .imgLogo {
  display: block;
  position: absolute;
  top: 80px;
  left: 0;
  width: 64px;
  height: 52px;
  transition: 0.5s;
}
html nav.closedSideBar li a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 32px;
  color: var(--sidebar-txtcolor);
  display: block;
  transition: 0.5s;
  top: 50%;
}
html nav.closedSideBar li a span#txtSpanSb {
  color: #111;
  transition: 0.5s;
}
html nav.closedSideBar li a.txt:hover {
  color: var(--main-txtcolor);
  background-color: #444;
  text-shadow: 2px 2px 1px #000000;
}
html nav.closedSideBar li a.closeSbBtn {
  position: absolute;
  display: none;
  top: 0;
  right: 15px;
  font-size: 36px;
  /* margin-left: 50px; */
}
html nav.closedSideBar li a.closeSbBtn:hover {
  color: var(--main-txtcolor);
  text-shadow: 2px 2px 1px #000000;
}
html nav.closedSideBar > footer {
  display: none;
}
html nav.closedSideBar .navList {
  margin-top: 120px;
}