
html{
    nav{
        &.openedSideBar{
            height: 100%;
            width: 250px;
            position: fixed;
            z-index: 4;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 60px;
            transition: 0.5s;
            white-space:nowrap;
            box-shadow: 1px 0 2px #111;
            li{
                .imgLogo{
                    display: block;
                    position: absolute;
                    top: 30px;
                    left:8%;
                    width: 210px;
                    height: 170px;
                    transition: 0.5s;
                }
                a {
                    padding: 8px 8px 8px 8px;
                    text-decoration: none;
                    font-size: 32px;
                    color: var(--sidebar-txtcolor);
                    display: block;
                    transition: 0.5s;
                    &.txt{
                        transition: 0.5s;
                    }   
                    span#txtSpanSb{
                        font-size: 20px;
                    }
                    span.spanPusty{
                        transition: 0.5s;
                    }
                    &.txt:hover{
                        color: var(--main-txtcolor);
                        background-color: #444;
                        text-shadow: 2px 2px 1px #000000;
                        span.spanPusty{
                            margin-left: 10px;
                        }
                    }
                    &.closeSbBtn{
                        position: absolute;
                        display: block;
                        top: 0;
                        right: 15px;
                        font-size: 36px;
                        /* margin-left: 50px; */
                        &:hover{
                            color: var(--main-txtcolor);
                            text-shadow: 2px 2px 1px #000000;
                        }
                    }
                }
            }
            >footer{
                position: absolute;
                display: block;
                color: var(--sidebar-txtcolor);
                bottom: 0;
                width: 100%;
                margin: 0 0 8px 32px;
                font-size: 20px;
            }
            .navList{
                margin-top: 120px;
            }
        }
        &.closedSideBar{
            height: 100%;
            width: 64px;
            position: fixed;
            z-index: 2;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 0px;
            transition: 0.5s;
            white-space:nowrap;
            box-shadow: 1px 0 2px #111;
            li{
                .imgLogo{
                    display: block;
                    position: absolute;
                    top: 80px;
                    left:0;
                    width: 64px;
                    height: 52px;
                    transition: 0.5s;
                }
                a {
                    padding: 8px 8px 8px 8px;
                    text-decoration: none;
                    font-size: 32px;
                    color: var(--sidebar-txtcolor);
                    display: block;
                    transition: 0.5s;
                    top: 50%;
                    & span#txtSpanSb{
                        color: #111;
                        transition: 0.5s;
                    }
                    &.txt:hover{
                        color: var(--main-txtcolor);
                        background-color: #444;
                        text-shadow: 2px 2px 1px #000000;
                    }
                    &.closeSbBtn{
                        position: absolute;
                        display: none;
                        top: 0;
                        right: 15px;
                        font-size: 36px;
                        /* margin-left: 50px; */
                        &:hover{
                            color: var(--main-txtcolor);
                            text-shadow: 2px 2px 1px #000000;
                        }
                    }
                }
            }
            >footer{
                display: none;
            }
            .navList{
                margin-top: 120px;
            }
        }
    }
}
